doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - FreedomTown
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/style.css')
    base(href='#{href}')
  body(data-version='0.13.2-alpha',
  data-socket='{"path":"/websocket","pingInterval":2000,"connectionTimeout":5000,"reconnectTimeout":500,"client":["left",["map",{"binary":["Uint8","Uint8"]}],["subscribeRegion",{"binary":["Uint8","Uint8",["Uint8"]]}],["unsubscribeRegion",{"binary":["Uint8","Uint8"]}],["updateTile",{"binary":["Uint16","Uint16","Uint8"]}],["myEntityId",{"binary":["Uint32"]}],["addEntity",{"binary":["Uint32","String","Object","Float32","Float32","Float32","Float32","Boolean","Boolean"]}],["removeEntity",{"binary":["Uint32"]}],["updateEntity",{"binary":["Uint32","Float32","Float32","Float32","Float32"]}],["updateEntityExtended",{"binary":["Uint32","Float32","Float32","Float32","Float32","Boolean","Boolean"]}],"updateEntityOptions","says"],"server":[["init",{"promise":true}],["signUp",{"promise":true}],["signIn",{"promise":true}],["signOut",{"promise":true}],["updateAccount",{"promise":true}],["requestPasswordReset",{"promise":true}],["resetPassword",{"promise":true}],["getCharacters",{"promise":true}],["saveCharacter",{"promise":true}],["removeCharacter",{"promise":true}],["join",{"promise":true}],"leave","say","interact","update","changeTile"],"hash":1467495155218}'
  data-debug="true")
    pony-town-app.ng-isolate-scope
      h1(class="text-center") Loading...
    script(src='/js/libraries.js')
    script(src='/js/modules.js')
    script(src='/js/bootstrap.js')

